body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 1000;
}

header nav {
    display: inline-block;
}

header nav button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 80px; /* Account for header */
}

.film-card {
    width: 200px;
    height: 300px;
    margin: 10px;
    perspective: 1000px;
    transition: transform 0.3s ease-in-out;
}

/* Hover to magnify */
.film-card:hover {
    transform: scale(1.1);
}

.film-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.film-card-front,
.film-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid #ccc;
}

.film-card-front {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.2em;
    padding: 1px;
}

.film-card-back {
    background-color: #000000;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* Hide the back by default */
.film-card.show-back .film-card-inner {
    transform: rotateY(180deg);
}

.card-title{
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
  }
  
.active {
background-color: #ccc;
}

h3.card-title{
    margin-bottom: .2em;
}

.film-card-back p.release-year {
    margin-top: .05em;
    font-size: .8em;
}

.seen {
    font-size: .7em;
    margin-bottom: .05em;
}

.date-watched {
    margin-top: .1em;
}

/* <h3 class="card-title">${film.title}</h3>
<p class="release-year">(${film.released})</p>
<p class="date-watched">Viewed on ${film.dateWatched}</p> */

.no-image {
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
  }
  
  .no-image::before {
    content: attr(alt);
  }

  img[src=""] {
    display: none;
  }

  .film-card-front > span { 
    display: block;
    padding: 10px;
    width: 70%;
    text-align: center;
    word-wrap: break-word;
  }

  p.release-year {
    margin-bottom: 3em;
  }